<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chill Squadpage</title>

  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/miel.css">
  <link rel="stylesheet" href="/styles/kyan.css">

  
</head>
<body>
<header>
<h1>Squadpage</h1>
</header>
